.social-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}
.social-sec h1{
    font-family: futura;
    font-style: italic;
    color: rgb(58, 58, 58);
}
.social-sec a{
    text-decoration: none;
    font-family: Futura;
    color: rgb(58, 58, 58);
    margin-left: 30px;
    font-style: italic ;
    font-size: 20px;
    text-transform: uppercase;
position: relative;
}
.social-sec a::before {
    content: ''; /* Add an empty content before the link text */
    position: absolute;
    bottom: -2px; /* Adjust the distance of the underline from the text */
    left: 0;
    width: 100%; /* Make the underline cover the entire width of the link */
    height: 2px; /* Set the height of the underline */
    background-color: transparent; /* Set initial color of the underline */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.social-sec a:hover::before {
    background-color: rgb(58, 58, 58); /* Change the color of the underline on hover */
}
