*::selection{
    color: #fff;
    background-color: #000;
}



.bg{
   
    min-height: 95vh;
    position: relative;
    width: 100%;
    margin-top: -90px;
    padding-left: 6px;
}
.bg h1{
    width: 100%;
    font-size: 14vw;
    font-family: futura;
    line-height: 13.5vw;
    letter-spacing: -5px;
}
.look{
    margin-top: -145px;

}
.change{
    margin-top: -145px;
}
.banner-img{
    width: 100%;
    margin-top: -125px;
}
.banner-img img{
    width: 100%;

}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    
}
.social-link{
    margin-top: 10px;

}
.social-link a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    font-family: futura;
}


@media screen and (max-width: 600px) {
    .look{
        margin-top: 0;
    }
    .change{
        margin-top:0px;
    }
    .bg{
        margin-top: 15px;
        
    }
    .banner-img{
        margin-top:40px;
        
    }

    .banner-img img{
        margin-left: -6px;
    }
    .bg {
        min-height: 0vh; /* Adjust for smaller screens */
    }

    .bg h1 {
        font-size: 8vw;
        letter-spacing: 0;
        line-height: 17px;
        text-align: center;
    }
}

/* @keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .bg .change,
  .bg .look {
    animation: fadeInSlideUp 1s ease-out 0.5s forwards;
  } */
 